// Color system

$gray-100: #F4F6F8; // color of shopify background
$gray-400: #CCCCCC; // color of vs code monaco color
$gray-600: #919eab; // color of shopify menu icons
$gray-700: #637381; // color of shopify menu icons on hover
$gray-900: #212b36; // color of shopify menu text

// Body
$body-bg:                   $gray-100;