<div class="container">
  <div class="row">

    <section class="col-12 my-5">
      <h2 class="text-center">Default</h2>
      <rv-photoswipe open-image-on-click="false" control-next-icon-src="/iconset/arrow_carrot_thin.svg" control-prev-icon-src="/iconset/arrow_carrot_thin.svg" control-close-icon-src="/iconset/icon_close.svg" control-zoom-in-icon-src="/iconset/icon_plus.svg" control-zoom-out-icon-src="/iconset/icon_minus.svg" control-fullscreen-on-icon-src="/iconset/icon_toggle-fullscreen-on.svg" control-fullscreen-off-icon-src="/iconset/icon_toggle-fullscreen-off.svg" control-share-icon-src="/iconset/social_share.svg" control-share-icon-show="true">
        <div class="card-columns">
          <div class="card">
            <img lazyload="lazy" rv-on-click="openByIndex | args 0" class="img-fluid w-100" data-fs-width="1200" data-fs-height="1200" data-fs-src="https://picsum.photos/id/101/1200/1200" src="https://picsum.photos/id/101/600/600" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="card">
            <img lazyload="lazy" rv-on-click="openByIndex | args 1" class="img-fluid w-100" data-fs-width="3000" data-fs-height="1200" data-fs-src="https://picsum.photos/id/102/3000/1200" src="https://picsum.photos/id/102/1500/600" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="card">
            <img lazyload="lazy" rv-on-click="openByIndex | args 2" class="img-fluid w-100" data-fs-width="3000" data-fs-height="1200" data-fs-src="https://picsum.photos/id/103/3000/1200" src="https://picsum.photos/id/103/1500/600" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="card">
            <img lazyload="lazy" rv-on-click="openByIndex | args 3" class="img-fluid w-100" data-fs-width="3000" data-fs-height="1200" data-fs-src="https://picsum.photos/id/104/3000/1200" src="https://picsum.photos/id/104/1500/600" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="card">
            <img lazyload="lazy" rv-on-click="openByIndex | args 4" class="img-fluid w-100" data-fs-width="3000" data-fs-height="1200" data-fs-src="https://picsum.photos/id/109/3000/1200" src="https://picsum.photos/id/109/1500/600" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="card">
            <img lazyload="lazy" rv-on-click="openByIndex | args 5" class="img-fluid w-100" data-fs-width="3000" data-fs-height="1200" data-fs-src="https://picsum.photos/id/106/3000/1200" src="https://picsum.photos/id/106/1500/600" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="card">
            <img lazyload="lazy" rv-on-click="openByIndex | args 6" class="img-fluid w-100" data-fs-width="3000" data-fs-height="1200" data-fs-src="https://picsum.photos/id/107/3000/1200" src="https://picsum.photos/id/107/1500/600" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="card">
            <img lazyload="lazy" rv-on-click="openByIndex | args 7" class="img-fluid w-100" data-fs-width="3000" data-fs-height="1200" data-fs-src="https://picsum.photos/id/108/3000/1200" src="https://picsum.photos/id/108/1500/600" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide-placeholder col-4">&nbsp;</div>
        </div>
      </rv-photoswipe>
    </section>

  </div>
</div>
