<div class="container">
  <div class="row">


    <section class="col-12 my-5">
      <h2 class="text-center">Default</h2>
      <rv-photoswipe open-image-on-click="false" foobar="TODO">
        <div class="card-columns">
          <div class="card">
            <img lazyload="lazy" rv-on-click="openByIndex | args 0" class="img-fluid w-100" fs-width="1200" fs-height="1200" fs-src="https://picsum.photos/id/101/1200/1200" src="https://picsum.photos/id/101/600/600" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="card">
            <img lazyload="lazy" rv-on-click="openByIndex | args 1" class="img-fluid w-100" fs-width="1500" fs-height="600" src="https://picsum.photos/id/102/1500/600" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="card">
            <img lazyload="lazy" rv-on-click="openByIndex | args 2" class="img-fluid w-100" fs-width="1500" fs-height="600" src="https://picsum.photos/id/103/1500/600" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="card">
            <img lazyload="lazy" rv-on-click="openByIndex | args 3" class="img-fluid w-100" fs-width="1500" fs-height="600" src="https://picsum.photos/id/104/1500/600" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="card">
            <img lazyload="lazy" rv-on-click="openByIndex | args 4" class="img-fluid w-100" fs-width="1500" fs-height="600" src="https://picsum.photos/id/109/1500/600" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="card">
            <img lazyload="lazy" rv-on-click="openByIndex | args 5" class="img-fluid w-100" fs-width="1500" fs-height="600" src="https://picsum.photos/id/106/1500/600" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="card">
            <img lazyload="lazy" rv-on-click="openByIndex | args 6" class="img-fluid w-100" fs-width="1500" fs-height="600" src="https://picsum.photos/id/107/1500/600" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="card">
            <img lazyload="lazy" rv-on-click="openByIndex | args 7" class="img-fluid w-100" fs-width="1500" fs-height="600" src="https://picsum.photos/id/108/1500/600" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide-placeholder col-4">&nbsp;</div>
        </div>
      </rv-photoswipe>
    </section>

  </div>
</div>
