$bs4-scrollspy-dot-size: 5px;
$bs4-scrollspy-line-left: 10px;
$bs4-scrollspy-line-width: 2px;
$bs4-scrollspy-width: 200px;
$bs4-scrollspy-dot-left: $bs4-scrollspy-line-left - ($bs4-scrollspy-dot-size - ($bs4-scrollspy-line-width / 2));

bs4-scrollspy.side-scrollspy {
  position: fixed;
  right: 0;
  top: 64px;
  width: $bs4-scrollspy-width + 50px;
  height: calc(100vw - 64px);
  .nav-item {
    > ul.list-scrollspy {
      display: none;
    }
    &.active {
      > ul.list-scrollspy {
        display: block;
      }
    }
  }

  ul.list-scrollspy {
    li {
      display: block;
      cursor: pointer;
      .nav-link {
        position: relative;
        left: 30px;
        margin-bottom: 6px;
        font-size: 14px;
        line-height: 24px;
      }
      &:before {
        border-radius: 50%;
        transform: translateY(-50%);
        content: "";
        background: #fdfdfd;
        border: $bs4-scrollspy-dot-size solid #efefef;
        left: $bs4-scrollspy-dot-left;
        width: 6px;
        height: 6px;
        // top: 50%;
        margin-top: 13px;
        display: inline-block;
        position: absolute;
      }
      &.active {
        &:before {
          background: theme-color('primary');;
          border-color: theme-color('primary');;
          border-width: $bs4-scrollspy-dot-size;
          left: $bs4-scrollspy-dot-left;
        }
      }
      .nav-link {
        padding: 0;
      }
    }
  }
  ul.list-scrollspy-level-1 {
    position: relative;
    padding-left: 20px;
    width: $bs4-scrollspy-width;
    // line
    &:before {
      content: "";
      position: absolute;
      left: $bs4-scrollspy-line-left;
      top: 10px;
      bottom: 10px;
      width: $bs4-scrollspy-line-width;
      background: #efefef;
    }
  }
  ul.list-scrollspy-level-1 {
    li {
      .nav-link {
        left: 20px;
      }
    }
  }
  ul.list-scrollspy-level-2 {
    li {
      .nav-link {
        left: 40px;
      }
    }
  }
  ul.list-scrollspy-level-3 {
    li {
      .nav-link {
        left: 60px;
      }
    }
  }
}

body:not(#index) {
  #main-container {
    @include media-breakpoint-up(lg) {
      margin-right: 250px;
    }
  }
}
