.btn {
    &[class*=' btn-outline-'] {
        color: $body-color;
    }
}

.theme-os {
    @include color-scheme(dark) {
        .btn {
            &[class*=' btn-outline-'] {
                color: $dark-body-color;
            }
        }
    }
  }
  
.theme-dark {
    .btn {
        &[class*=' btn-outline-'] {
            color: $dark-body-color;
        }
    }
}