.shop-input-appendix {
  pointer-events: none;
  position: absolute;
  display: inline-block;
  pointer-events: none;
  color: transparent;
  background: transparent;
  border: 2px solid transparent;
}

.shop-input-appendix::after {
  content: attr(data-append);
  pointer-events: none;
  color: grey;
}
