shopify-nest-shop-input {



  .shop-input-appendix {
    pointer-events: none;
    position: absolute;
    display: inline-block;
    pointer-events: none;
    color: transparent;
    background: transparent;
    border: 2px solid transparent;
    &::after {
      content: attr(data-append);
      pointer-events: none;
      color: grey;
    }
    &.shop-input-empty {
      &::after {
        color: transparent;
      }
    }
  }

  .submitted .shop-input-appendix::after {
    content: '';
  }
}

