rv-file-tree
  .item src
  .children
    .item binders
    .children
      .item index.scss
      .item index.ts
      .item test-project-example.binder.scss
      .item test-project-example.binder.scss
    .item components
    .children
      .item index.scss
      .item index.ts
      .item test-project-example
      .children
        .item test-project-example.component.html
        .item test-project-example.component.scss
        .item test-project-example.component.ts
    .item formatters
    .children
      .item index.scss
      .item index.ts
      .item test-project-example.formatter.spec.ts
      .item test-project-example.formatter.ts
    .item project-name.module.ts
    .item main.ts
    .item main.scss
    .item index.html
