rv-touch-events-example {
  display: block;
  .touch-zone {
    user-select: none;
    min-height: 300px;
    overflow: auto;
  }
  .console {
    overflow: auto;
    max-height: 100%;
    .log {
      margin: 0;
      @extend .small;
      @extend .d-flex;
      @extend .justify-content-between;
      .name {
        @extend .text-info;
        min-width: 80px;
      }
      .detail {
        @extend .text-warning;
      }
      .time {
        @extend .text-success;
      }
      .no-data {
        @extend .text-danger;
      }
      // Hide no-data if it is not the only child
      &:not(:only-child) {
        .no-data {
          @extend .d-none;
        }
      }
    }
  }
}
