$podcast-loading-background-image: "";

podlove-fixed-web-player {
  podlove-web-player {
    display: block;
    width: 100%;
    border-top: 1px solid black;
  }

  &.fixed-bottom {
    transition: bottom 0.2s linear;
    position: fixed;
    right: 0;
    bottom: -200px;
    left: 0;
    z-index: 1030;
  }
  &.fixed-top {
    transition: top 0.2s linear;
    position: fixed;
    top: -200px;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  button.close {
    font-size: 40px;
    line-height: 20px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
    background-color: transparent;
    border: none;
  }
}