/* Proxima Nova */

@font-face {
    font-family: 'Proxima Nova';
    src: url('webfont_ProximaNova-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('webfont_ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('webfont_ProximaNova-Reg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('webfont_ProximaNova-Sbold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('webfont_ProximaNova-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

// FiraCode

@font-face {
    font-family: 'Fira Code';
    src: url('webfont_FiraCode-Light.woff2') format('woff2'),
        url("webfont_FiraCode-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('webfont_FiraCode-Regular.woff2') format('woff2'),
        url("webfont_FiraCode-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('webfont_FiraCode-Medium.woff2') format('woff2'),
        url("webfont_FiraCode-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('webfont_FiraCode-Bold.woff2') format('woff2'),
        url("webfont_FiraCode-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code VF';
    src: url('webfont_FiraCode-VF.woff2') format('woff2-variations'),
        url('webfont_FiraCode-VF.woff') format('woff-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 300 700;
    font-style: normal;
}
