$font-family-sans-serif: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$green: #37a07e;
$primary: $green;

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

$navbar-brand-font-size: $font-size-base;

$lead-font-size:              $font-size-base * 2;
$lead-font-weight:            $font-weight-lighter;

$enable-rounded: false;

$font-weight-base:            $font-weight-light;
$headings-font-weight:        $font-weight-normal;