[submodule "infra/doc"]
	path = infra/doc
	url = https://github.com/ribajs/doc.git
[submodule "vendor/gamecontroller.js"]
	path = vendor/gamecontroller.js
	url = git@github.com:PixelRPG/gamecontroller.js.git
