<span rv-assign-past-date="'2019-09-15T15:00:00.000Z' | toMoment "></span>
<span rv-assign-future-date="'2022-09-10T16:00:00.000Z' | toMoment "></span>

<h2>Components</h2>
<h3>Timer</h3>

<moment-timer rv-time="futureDate | toISOString" countdown-years="true">
    <div class="time-container" rv-if="countdownRunning">
        <div class="time-block" rv-if="countdownYears">
            <span class="time">{ remainingYears }</span>
            <span class="legend">Years</span>
        </div>
        <div class="time-block" rv-if="countdownDays">
            <span class="time">{ remainingDays }</span>
            <span class="legend">Days</span>
        </div>
        <div class="time-block" rv-if="countdownHours">
            <span class="time">{ remainingHours }</span>
            <span class="legend">Hours</span>
        </div>
        <div class="time-block" rv-if="countdownMinutes">
            <span class="time">{ remainingMinutes }</span>
            <span class="legend">Minutes</span>
        </div>
        <div class="time-block" rv-if="countdownSeconds">
            <span class="time">{ remainingSeconds }</span>
            <span class="legend">Seconds</span>
        </div>
    </div>
</moment-timer>

<h2>Formatters</h2>

<h3>dateFormat</h3>
<p>
    <code rv-block>{ futureDate | dateFormat 'LLLL' }</code>: <br />
    <span>{ futureDate | dateFormat 'LLLL' }</span>
</p>

<p>
    <code rv-block>{ pastDate | dateFormat 'LLLL' }</code>: <br />
    <span>{ pastDate | dateFormat 'LLLL' }</span>
</p>

<p>
    <code rv-block>{ futureDate | dateFormat 'HH:mm:ss' }</code>: <br />
    <span>{ futureDate | dateFormat 'HH:mm:ss' }</span>
</p>

<h3>duration</h3>
<p>
    <code rv-block>{ pastDate | duration futureDate | asMilliseconds | numberFormat  } milliseconds</code>: <br />
    <span>{ pastDate | duration futureDate | asMilliseconds | numberFormat  } milliseconds</span>
</p>

<p>
    <code rv-block>{ pastDate | duration futureDate | asSeconds | numberFormat  } seconds</code>: <br />
    <span>{ pastDate | duration futureDate | asSeconds | numberFormat  } seconds</span>
</p>

<p>
    <code rv-block>{ pastDate | duration futureDate | asMinutes | numberFormat  } minutes</code>: <br />
    <span>{ pastDate | duration futureDate | asMinutes | numberFormat  } minutes</span>
</p>

<p>
    <code rv-block>{ pastDate | duration futureDate | asHours | numberFormat  } hours</code>: <br />
    <span>{ pastDate | duration futureDate | asHours| numberFormat } hours</span>
</p>

<p>
    <code rv-block>{ pastDate | duration futureDate | asDays | numberFormat } days</code>: <br />
    <span>{ pastDate | duration futureDate | asDays | numberFormat } days</span>
</p>

<p>
    <code rv-block>{ pastDate | duration futureDate | asMonths | numberFormat } months</code>: <br />
    <span>{ pastDate | duration futureDate | asMonths | numberFormat } months</span>
</p>

<p>
    <code rv-block>{ pastDate | duration futureDate | asYears | numberFormat } years</code>: <br />
    <span>{ pastDate | duration futureDate | asYears | numberFormat } years</span>
</p>

<h3>toISOString</h3>

<p>
    <code rv-block>{ pastDate | toISOString }</code>: <br />
    <span>{ pastDate | toISOString }</span>
</p>

<h3>toDate</h3>

<p>
    <code rv-block>{ pastDate | toDate }</code>: <br />
    <span>{ pastDate | toDate }</span>
</p>

<h3>toTimestamp</h3>

<p>
    <code rv-block>{ pastDate | toTimestamp }</code>: <br />
    <span>{ pastDate | toTimestamp }</span>
</p>

<h3>toMoment</h3>

<p>
    <code rv-block>{ pastDate | toDate | toMoment | formatDate }</code>: <br />
    <span>{ pastDate | toMoment }</span>
</p>
