.container.text-center.text-muted.py-3
  small
    | Riba.js &copy; #{new Date().getFullYear()} &middot;
    a.text-muted(href=site.repository target="_blank") GitHub
    |  &middot;
    | Version #{site.version}
