<div class="row my-5">
  <section class="col-12 my-5">
    <h2>Iconset</h2>

    <bs5-colorpicker></bs5-colorpicker>

    <div class="row" rv-style-color="color">
      <div class="col-6 col-sm-4 col-md-3 col-xl-2 py-2 mx-auto d-flex align-items-center flex-column" rv-each-icon="iconset">
        <bs5-icon rv-src="'/iconset/svg/' | append icon | append '.svg'" rv-size="size"></bs5-icon>
        <small class="my-3 text-center text-monospace text-muted" rv-text="icon"></small>
      </div>
    </div>
    
  </section>
</div>