<leaflet-map initial-lat="53.860228" initial-lng="8.592851" initial-zoom="17" tile-url="https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png">
  <!-- Custom icons are also possible:
  <icon name="testIcon" icon-url="test" shadow-url="test" icon-size="25, 41" icon-anchor="14, 40" popup-anchor="-1, -41" shadow-size="25, 41" shadow-anchor="10, 40"></icon>
  <marker icon="testIcon" lat="53.860228" lng="8.592851" open-by-default="true">Test</marker>
  -->
  <marker lat="53.860228" lng="8.592851" open-by-default="true">Test</marker>
</leaflet-map>