.content-slider{
  display:inline-flex;
  align-items: flex-end;
  height: 90vh;
  transition: transform 0.2s ease-in-out;
  img {
    width: 20vw;
    height: 60vh;
    object-fit: contain;
    background-color: antiquewhite;
    transition: all 0.2s ease-in-out;
    margin: 0 1vw;
  }
  .content-slider-active img {
    background-color: red;
    width: 30vw;
    max-width: 30vw;
    height: 90vh;
    margin-left: 0;
  }
}