section.intro
  .container
    .row
      .col.col-sm-12
        p.blurb Lightweight and powerful data binding + templating solution for building modern web applications.
        p.blurb The espiritual sucessor of <strong>Rivets.js</strong>

        a.btn.btn-clear(href="https://github.com/JumpLinkNetwork/riba/archive/v0.12.0.zip")
          i &#128229;
          span Download 0.12.0

section.agnostic
  .container
    .row
      .col.col-sm-12
        .separator
          h5 WHY TYNIBIND?

    .row
      .col.col-md-6
        h3 Agnostic
        p riba is completely agnostic about your model / controller layer and works well with existing libraries that employ an event-driven model such as <a href="http://backbonejs.org/">Backbone.js</a>. It also ships with built-in support for plain JavaScript objects, so you can use riba right away without needing a separate model or observables library.

      .col.col-md-6
        h3 Configurable
        p From the event handlers to the template delimiters, the attribute prefixes to the preloading of data. It's all configurable and tunable at the application level as well as locally to individual views.

section.highlights
  .container
    .row
      .col.col-sm-12
        .separator
          h5 MOVING PARTS

    .row
      .col.col-sm-6
        h3 Binders

        span
          = '<input rv-'
          code value
          = '="item.summary">'

        p Describe how your underlying data is reflected in the DOM and vice-versa. All binders create a binding that is automatically updated when model data changes or when the user interacts with the DOM.
      .col.col-sm-6
        h3 Components

        span
          = '<'
          code toggle
          = ' on="item.complete">'

        p Define reusable views, instantiable as a custom element. Each component gets its own isolated, augmentable scope.
    .row
      .col.col-sm-6
        h3 Formatters

        span
          = '{ item.due | '
          code fromNow
          = ' | '
          code duration
          = ' }'

        p Format dates, numbers, currencies and implement logic gates and conversions. Formatters work in a similar fashion to the Unix pipeline, so you can stack as many of them together as you like.
      .col.col-sm-6
        h3 Adapters via observer pattern

        span
          = '<select rv-value="user'
          code= '.'
          = 'address'
          code= ':'
          = 'city">'

        p Teach riba how to observe and interact with different objects. Use <code>.</code> for plain object proterties and define a <code>:</code> adapter for Backbone model attributes. It's up to you. Adapters take care of observing and reading each key in a keypath.
section.using
  .container
    .row
      .col.col-sm-12
        .separator
          h5 WHO IS USING RIVETS.JS?

    .row
      .col.col-sm-12
        a(href="https://attendease.com/" target="_blank")
          img(src="/img/attendease.png")
        a(href="http://www.dell.com/" target="_blank")
          img(src="/img/dell.png")
        a(href="http://kinhr.com/" target="_blank")
          img(src="/img/kin.png")
        a(href="https://www.victoriassecret.com/" target="_blank")
          img(src="/img/vs.png")
        a(href="http://discolabs.com/" target="_blank")
          img(src="/img/disco.png")
section.author
  .container
    .row
      .col.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        h2 Authors
        p
          | Pascal Garber
        p
          | Luiz Américo Pereira Câmara, original author of 
          a(href="https://blikblum.github.io/riba/") riba
        p
          | Michael Richards, original author of 
          a(href="http://rivetsjs.com/") Rivets.js