<!--
  For input name attributes see https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete
-->
<div class="container-fluid">
  
  <div class="row">
    <section class="col-6 mb-5">
      <bs4-sidebar id="main-sidebar" target-id="main-sidebar">sidebar</bs4-sidebar>
    </section>

    <section class="col-6 mb-5">
      <h1>Simple Button</h1>

      <bs4-button namespace="bs4-toggle-button:main-sidebar" action="toggle"  class="btn btn-info">
       Toggle Button Test
      </bs4-button>
    

    </section>
  </div>
</div>

