$shopify-tda-instagram-component-color: white !default;
$shopify-tda-instagram-component-bg-color: rgba(0,0,0,0.8) !default;

shopify-tda-instagram {
  @extend .font-size-sm !optional;
  .embed-responsive {
    .embed-responsive-item {
      transform: scale(1);
      transition: 0.3s all ease;
      &.caption {
        opacity: 0;
        background-color: $shopify-tda-instagram-component-bg-color;
        color: $shopify-tda-instagram-component-color;
        text-align: center;
        padding: 10%;
      }
    }
    &:hover {
      .embed-responsive-item {
        filter: grayscale(1);
        transform: scale(1.1);
        &.caption {
          opacity: 1;
        }
      }
    }
  }
}
