section.header.bg-primary.text-light.text-center.py-5
  .container.py-5
    .row
      .col
        p.lead Lightweight and powerful data binding + templating solution for building modern web applications.
        p.lead The espiritual sucessor of 
          strong Rivets.js
          |  rewritten in TypeScript.
    .row
      .col-auto.mx-auto
        pre.language-bash
          code
            | $ npm install -g @ribajs/cli
            | $ riba new project