@mixin dark-theme-form-control {
  color: $dark-input-color;
  background-color: $dark-input-bg;
  border-color: $dark-input-border-color;

  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus {
      color: $dark-input-focus-color;
      background-color: $dark-input-focus-bg;
      border-color: $dark-input-focus-border-color;
  }

  // Placeholder
  &::placeholder {
      color: $dark-input-placeholder-color;
  }


  // Disabled and read-only inputs
  &:disabled,
  &[readonly] {
      background-color: $dark-input-disabled-bg;
      border-color: $dark-input-disabled-border-color;
  }

  // File input buttons theming
  &::file-selector-button {
      color: $dark-form-file-button-color;
      @include gradient-bg($dark-form-file-button-bg);
      // border-color: inherit;
  }

  &:hover:not(:disabled):not([readonly])::file-selector-button {
      background-color: $dark-form-file-button-hover-bg;
  }

  // Readonly controls as plain text
  .form-control-plaintext {
      color: $dark-input-plaintext-color;
      // background-color: transparent;
  }
}
