<div class="container-fluid">
  <div class="row">
    <section class="col-12 mb-5">
      <bs5-slideshow control-prev-icon-src="arrow_carrot_alt.svg" control-next-icon-src="arrow_carrot_alt.svg" indicator-inactive-icon-src="icon_circle-empty.svg" indicator-active-icon-src="icon_circle-selected.svg" sticky="true" autoplay="true" autoplay-interval="10000">
        <div class="slideshow-inner">
          <div class="slide col-12 p-0">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/3000/800?random=1" alt="Static Random Image from https://picsum.photos/">
            <div class="slide-caption">
              <h1>bs5-slideshow<br><small>The last bootstrap carousel you'll ever need</small></h1>
            </div>
          </div>
          <div class="slide col-12 p-0">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/3000/800?random=2" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 p-0">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/3000/800?random=3" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 p-0">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/3000/800?random=4" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 p-0">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/3000/800?random=5" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 p-0">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/3000/800?random=6" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 p-0">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/3000/800?random=7" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 p-0">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/3000/800?random=8" alt="Static Random Image from https://picsum.photos/">
          </div>
        </div>
      </bs5-slideshow>
    </section>
  </div>
</div>

<div class="container">
  <div class="row">
    <section class="col-12 my-5">
  
      <h2 class="text-center">Multiple Items</h2>
      <bs5-slideshow control-prev-icon-src="arrow_carrot.svg" control-next-icon-src="arrow_carrot.svg" indicator-inactive-icon-src="icon_circle-empty.svg" indicator-active-icon-src="icon_circle-selected.svg" slides-to-scroll="3" indicators="false">
        <div class="slideshow-inner">
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=1" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=2" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=3" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=4" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=5" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=6" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=7" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=8" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=9" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=10" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=11" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=12" alt="Static Random Image from https://picsum.photos/">
          </div>
        </div>
      </bs5-slideshow>
    </section>

    <section class="col-12 my-5">
      <h2 class="text-center">Variable Width</h2>
      <bs5-slideshow control-prev-icon-src="arrow_carrot.svg" control-next-icon-src="arrow_carrot.svg" indicator-inactive-icon-src="icon_circle-empty.svg" indicator-active-icon-src="icon_circle-selected.svg">
        <div class="slideshow-inner align-items-center">
          <div class="slide-placeholder col-3">&nbsp;</div>
          <div class="slide col-6">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/600/600?random=1" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=2" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-2">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=3" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-6">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=4" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-3">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=5" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-8">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=6" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-5">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=7" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=8" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide-placeholder col-4">&nbsp;</div>
        </div>
      </bs5-slideshow>
    </section>

    <section class="col-12 my-5">
      <h2 class="text-center">Autoplay</h2>
      <bs5-slideshow autoplay="true" autoplay-velocity="0.05" control-prev-icon-src="arrow_carrot.svg" indicator-inactive-icon-src="icon_circle-empty.svg" indicator-active-icon-src="icon_circle-selected.svg" control-next-icon-src="arrow_carrot.svg">
        <div class="slideshow-inner">
          <div class="slide-placeholder col-4">&nbsp;</div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=1" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=2" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=3" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=4" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=5" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=6" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=7" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=8" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide-placeholder col-4">&nbsp;</div>
        </div>
      </bs5-slideshow>
    </section>

    <section class="col-12 my-5">
      <h2 class="text-center">Autoplay with interval</h2>
      <bs5-slideshow autoplay="true" autoplay-interval="4000" control-prev-icon-src="arrow_carrot.svg" indicator-inactive-icon-src="icon_circle-empty.svg" indicator-active-icon-src="icon_circle-selected.svg" control-next-icon-src="arrow_carrot.svg">
        <div class="slideshow-inner">
          <div class="slide-placeholder col-4">&nbsp;</div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=1" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=2" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=3" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=4" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=5" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=6" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=7" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=8" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide-placeholder col-4">&nbsp;</div>
        </div>
      </bs5-slideshow>
    </section>

    <section class="col-12 my-5">
      <h2 class="text-center">With captions</h2>
      <bs5-slideshow control-prev-icon-src="arrow_carrot.svg" control-next-icon-src="arrow_carrot.svg" indicator-inactive-icon-src="icon_circle-empty.svg" indicator-active-icon-src="icon_circle-selected.svg" sticky="true">
        <div class="slideshow-inner">
          <div class="slide col-12">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=1" alt="Static Random Image from https://picsum.photos/">
            <div class="slide-caption">
              <h5>First slide label</h5>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </div>
          <div class="slide col-12">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=2" alt="Static Random Image from https://picsum.photos/">
            <div class="slide-caption">
              <h5>Second slide label</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="slide col-12">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=3" alt="Static Random Image from https://picsum.photos/">
            <div class="slide-caption">
              <h5>Third slide label</h5>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </div>
        </div>
      </bs5-slideshow>
    </section>

    <section class="col-12 my-5">
      <h2 class="text-center">Responsive</h2>
      <bs5-slideshow controls="false" lg-controls="true" indicators="false" lg-indicators="true" control-prev-icon-src="arrow_carrot.svg" control-next-icon-src="arrow_carrot.svg" indicator-inactive-icon-src="icon_circle-empty.svg" indicator-active-icon-src="icon_circle-selected.svg">
        <div class="slideshow-inner">
          <div class="slide-placeholder d-none d-sm-block col-sm-6 col-xl-4">&nbsp;</div>
          <div class="slide col-12 col-sm-6 col-xl-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1000/400?random=1" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 col-sm-6 col-xl-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1000/400?random=2" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 col-sm-6 col-xl-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1000/400?random=3" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 col-sm-6 col-xl-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1000/400?random=4" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 col-sm-6 col-xl-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1000/400?random=5" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 col-sm-6 col-xl-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1000/400?random=6" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 col-sm-6 col-xl-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1000/400?random=7" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 col-sm-6 col-xl-4">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1000/400?random=8" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide-placeholder d-none d-sm-block col-sm-6 col-xl-4">&nbsp;</div>
        </div>
      </bs5-slideshow>
    </section>

    <section class="col-12 my-5">
      <h2 class="text-center">Custom Templates</h2>
      <bs5-slideshow sticky="true">
        <div class="slideshow-inner">
          <div class="slide-placeholder col-2">&nbsp;</div>
          <div class="slide col-7 p-2">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=1" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=2" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=3" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=4" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=5" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=6" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=7" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=8" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide-placeholder col-2">&nbsp;</div>
        </div>
        <template type="controls">
          <button rv-show="controls" class="btn btn-link carousel-control-prev" role="button" data-slide="prev" rv-on-click="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </button>
          <button rv-show="controls" class="btn btn-link carousel-control-next" role="button" data-slide="next" rv-on-click="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </button>
        </template>
        <template type="indicators">
          <ol rv-if="indicators" class="carousel-indicators">
            <li rv-each-slide="items" rv-class-active="slide.active" rv-on-click="goTo | args slide.index"></li>
          </ol>
        </template>
      </bs5-slideshow>
    </section>

    <section class="col-12 my-5">
      <h2 class="text-center">Slides as Templates</h2>
      <bs5-slideshow control-prev-icon-src="arrow_carrot.svg" control-next-icon-src="arrow_carrot.svg" sticky="true">
        <template type="slide" class="slide col-7 p-2">
          <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=1" alt="Static Random Image from https://picsum.photos/">
        </template>
        <template type="slide" class="slide col-7 p-2">
          <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=2" alt="Static Random Image from https://picsum.photos/">
        </template>
        <template type="slide" class="slide col-7 p-2">
          <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=3" alt="Static Random Image from https://picsum.photos/">
        </template>
        <template type="slide" class="slide col-7 p-2">
          <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=4" alt="Static Random Image from https://picsum.photos/">
        </template>
        <template type="slide" class="slide col-7 p-2">
          <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=5" alt="Static Random Image from https://picsum.photos/">
        </template>
        <template type="slide" class="slide col-7 p-2">
          <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=6" alt="Static Random Image from https://picsum.photos/">
        </template>
        <template type="slide" class="slide col-7 p-2">
          <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=7" alt="Static Random Image from https://picsum.photos/">
        </template>
        <template type="slide" class="slide col-7 p-2">
          <img lazyload="lazy" class="img-fluid w-100" src="https://picsum.photos/1500/600?random=8" alt="Static Random Image from https://picsum.photos/">
        </template>
      </bs5-slideshow>
    </section>

  </div>
</div>
