.background-no-repeat {
  background-repeat: no-repeat;
}

// Size

.bg-size-cover {
  @extend .background-no-repeat;
  background-size: cover;
}

.bg-size-contain {
  @extend .background-no-repeat;
  background-size: contain;
}

// Position
.bg-position-center {
  background-position: center center;
}

.bg-position-top {
  background-position-y: top;
}

.bg-position-bottom {
  background-position-y: bottom;
}

.bg-position-end {
  background-position-x: right;
}

.bg-position-start {
  background-position-x: left;
}

// Attachment
.bg-attachment-fixed {
  background-attachment: fixed;
}