$languages: de en !default;

// By default we adds some more aspect ratio classes
// $aspect-ratios: (
//   (1 1),
//   (3 2),
//   (2 3),
//   (2 1),
//   (1 2),
//   (4 3),
//   (3 4),
//   (16 9),
//   (9 16),
//   // (10 3),
//   // (3 10),
//   // (17 10),
//   // (10 17),
//   (14 9),
//   (9 14),
//   (21 9),
//   (9 21),
// ) !default;

// Theme mode colors
$dark-theme-body-color:         map-get($theme-colors, "light") !default;
$dark-theme-body-bg:            $gray-900 !default;

$dark-link-color:               invert($link-color, 100%) !default;
$dark-link-hover-color:         $link-hover-color !default;

// Dark Forms
$dark-theme-input-color:        $dark-theme-body-color !default;
$dark-theme-input-bg:           $dark-theme-body-bg !default;
$dark-theme-input-border-color:         darken($input-border-color, 50%) !default;
$dark-theme-input-focus-color:          invert($input-focus-color, 100%) !default;
$dark-theme-input-focus-bg:             $dark-theme-input-bg !default;
$dark-theme-input-focus-border-color:   darken($input-focus-border-color, 50%) !default;
$dark-theme-input-placeholder-color:    invert($input-placeholder-color, 100%) !default;
$dark-theme-input-disabled-bg:          invert($input-disabled-bg, 100%) !default;
$dark-theme-input-disabled-border-color:    if($input-disabled-border-color == null, null, invert($input-disabled-border-color, 100%)) !default;
$dark-theme-form-file-button-color:         invert($form-file-button-color, 100%) !default;
$dark-theme-form-file-button-bg:            invert($form-file-button-bg, 100%) !default;
$dark-theme-form-file-button-hover-bg:      invert($form-file-button-hover-bg, 100%) !default;
$dark-theme-input-plaintext-color:          invert($input-plaintext-color, 100%) !default;

// Dark list group TODO: fine tune colors
$dark-list-group-color: $light !default;
$dark-list-group-bg: $dark !default;
$dark-list-group-border-color: darken($list-group-border-color, 50%) !default;

$dark-list-group-disabled-color: invert($list-group-disabled-color, 100%) !default;
$dark-list-group-disabled-bg: invert($list-group-disabled-bg, 100%) !default;

$dark-list-group-active-color: $list-group-active-color !default;
$dark-list-group-active-bg: $list-group-active-bg !default;
$dark-list-group-active-border-color: darken($list-group-active-border-color, 50%) !default;
$dark-list-group-action-color: invert($list-group-action-color, 100%) !default;
$dark-list-group-action-hover-color: invert($list-group-action-hover-color, 100%) !default;
$dark-list-group-hover-bg: invert($list-group-hover-bg, 100%) !default;
$dark-list-group-action-active-color: invert($list-group-action-active-color, 100%) !default;
$dark-list-group-action-active-bg: invert($list-group-action-active-bg, 100%) !default;