$content-slider-snes-height: 300px;
$content-slider-snes-sm-height: 400px;
$content-slider-snes-md-height: 400px;
$content-slider-snes-lg-height: 400px;
$content-slider-snes-xl-height: 400px;
$content-slider-snes-xxl-height: 400px;

$content-slider-snes-capture-height: 150px;
$content-slider-snes-capture-sm-height: 150px;
$content-slider-snes-capture-md-height: 250px;
$content-slider-snes-capture-lg-height: 200px;
$content-slider-snes-capture-xl-height: 200px;
$content-slider-snes-capture-xxl-height: 200px;

$content-slider-snes-active-item-height: $content-slider-snes-height + $content-slider-active-item-margin-bottom !default;
$content-slider-snes-active-item-sm-height: $content-slider-snes-sm-height + $content-slider-active-item-sm-margin-bottom !default;
$content-slider-snes-active-item-md-height: $content-slider-snes-md-height + $content-slider-active-item-md-margin-bottom !default;
$content-slider-snes-active-item-lg-height: $content-slider-snes-lg-height + $content-slider-active-item-lg-margin-bottom !default;
$content-slider-snes-active-item-xl-height: $content-slider-snes-xl-height + $content-slider-active-item-xl-margin-bottom !default;
$content-slider-snes-active-item-xxl-height: $content-slider-snes-xxl-height + $content-slider-active-item-xxl-margin-bottom !default;

$content-slider-snes-inactive-item-height: auto !default;
$content-slider-snes-inactive-item-sm-height: auto !default;
$content-slider-snes-inactive-item-md-height: $content-slider-snes-md-height - $content-slider-snes-capture-md-height !default;
$content-slider-snes-inactive-item-lg-height: $content-slider-snes-lg-height - $content-slider-snes-capture-lg-height !default;
$content-slider-snes-inactive-item-xl-height: $content-slider-snes-xl-height - $content-slider-snes-capture-xl-height !default;
$content-slider-snes-inactive-item-xxl-height: $content-slider-snes-xxl-height - $content-slider-snes-capture-xxl-height !default;

@function content-slider-snes-breakpoint-height($breakpoint) {
  @if $breakpoint == xxl {
    @return $content-slider-snes-xxl-height;
  }
  @if $breakpoint == xl {
    @return $content-slider-snes-xl-height;
  }
  @if $breakpoint == lg {
    @return $content-slider-snes-lg-height;
  }
  @if $breakpoint == md {
    @return $content-slider-snes-md-height;
  }
  @if $breakpoint == sm {
    @return $content-slider-snes-sm-height;
  }
  @return $content-slider-snes-height;
}

@function content-slider-snes-capture-breakpoint-height($breakpoint) {
  @if $breakpoint == xxl {
    @return $content-slider-snes-capture-xxl-height;
  }
  @if $breakpoint == xl {
    @return $content-slider-snes-capture-xl-height;
  }
  @if $breakpoint == lg {
    @return $content-slider-snes-capture-lg-height;
  }
  @if $breakpoint == md {
    @return $content-slider-snes-capture-md-height;
  }
  @if $breakpoint == sm {
    @return $content-slider-snes-capture-sm-height;
  }
  @return $content-slider-snes-capture-height;
}

@function content-slider-snes-active-item-height($breakpoint) {
  @if $breakpoint == xxl {
    @return $content-slider-snes-active-item-xxl-height;
  }
  @if $breakpoint == xl {
    @return $content-slider-snes-active-item-xl-height;
  }
  @if $breakpoint == lg {
    @return $content-slider-snes-active-item-lg-height;
  }
  @if $breakpoint == md {
    @return $content-slider-snes-active-item-md-height;
  }
  @if $breakpoint == sm {
    @return $content-slider-snes-active-item-sm-height;
  }
  @return $content-slider-snes-active-item-height;
}

@function content-slider-snes-inactive-item-height($breakpoint) {
  @if $breakpoint == xxl {
    @return $content-slider-snes-inactive-item-xxl-height;
  }
  @if $breakpoint == xl {
    @return $content-slider-snes-inactive-item-xl-height;
  }
  @if $breakpoint == lg {
    @return $content-slider-snes-inactive-item-lg-height;
  }
  @if $breakpoint == md {
    @return $content-slider-snes-inactive-item-md-height;
  }
  @if $breakpoint == sm {
    @return $content-slider-snes-inactive-item-sm-height;
  }
  @return $content-slider-snes-inactive-item-height;
}

content-slider-example {

  // Responsive sizes
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $content-slider-cur-height: content-slider-snes-breakpoint-height($breakpoint);
      $content-slider-capture-cur-height: content-slider-snes-capture-breakpoint-height($breakpoint);
      $content-slider-active-item-cur-margin-bottom: 0;

      content-slider.snes {
        height: $content-slider-cur-height;
        min-height: $content-slider-cur-height;
        .wrapper {
          .slider {
            max-height: $content-slider-cur-height;
            height: $content-slider-cur-height;
            .item {
              &.active {
                height: $content-slider-cur-height + $content-slider-active-item-cur-margin-bottom;
                margin-bottom: -$content-slider-active-item-cur-margin-bottom;
              }
              &:not(.active) {
                height: $content-slider-cur-height - $content-slider-capture-cur-height;
              }
            }
          }
          .overlay {
            height: $content-slider-cur-height;
            @if $breakpoint == sm {
              margin-top: $content-slider-active-item-cur-margin-bottom;
              .controls {
                display: none;
              }
            } @else if $breakpoint == xs {
              margin-top: $content-slider-active-item-cur-margin-bottom;
              .controls {
                display: none;
              }
            } @else {
              margin-top: -$content-slider-cur-height;
              .controls {
                display: flex;
              }
              .capture {
                max-height: $content-slider-capture-cur-height;
              }
            }

          }
        }
      }
    }
  }

}


