.row.my-5
  section.col-12.my-5.text-center
    h2 Podlove Web Player
    p This example is based on 
      a(href="https://docs.podlove.org/podlove-web-player/v5/playground" target="_blank") Podlove Web Player Playground Example
    .row
      podlove-web-player.col-12.col-md-8.col-xl-6.col-xxl-4.mx-auto(rv-co-episode="episode" rv-co-config="config")