<div class="row flex-column flex-md-row d-flex flex-nowrap h-100">
  <div
    class="col d-flex justify-content-center align-items-center bg-light text-dark touch-zone"
    rv-image-events="imageSource"
    rv-on-load-always="log | args 'load-always'"
    rv-on-load-progress="log | args 'load-progress'"
    rv-on-load-done="log | args 'load-done'"
    rv-on-load-fail="log | args 'load-fail'"

  >
    <div class="d-flex flex-column gap-2">
      <img rv-element="imageEl" class="img-fluid" rv-src="imageSource" alt="Random placeholder image" />
      <button class="btn btn-primary mx-auto" rv-on-click="changeImage">Change Image</button>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-4 bg-dark text-light py-3 h-100 console">
    <p class="log">
      <span class="no-data">Wait for image events...</span>
    </p>
  </div>
</div>
