<!--
  For input name attributes see https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete
-->
<div class="container">
  <div class="row">
    <section class="col-12 my-5">
      <bs5-form
        rv-show-toast-on-submit-success="{'message': 'Contact form sent successfully!', 'title': 'Message', 'channel': 'formular', 'contextualClass': 'success'}"
        rv-show-toast-on-submit-error="{'message': 'Contact form could not be sent!', 'title': 'Error', 'channel': 'formular', 'contextualClass': 'danger'}"
        rv-show-toast-on-invalid="{'message': 'Form is invalid, please check your input.', 'title': 'Invalid', 'channel': 'formular', 'contextualClass': 'warning'}"
        use-ajax="true"
        ajax-request-type="form"
        auto-set-form-data="false"
      >
        <form
          rv-on-submit="onSubmit"
          action="/"
          method="get"
        > 
          <div class="row">
            <div class="col-md-4 mb-3">
              <label class="form-label" for="validationCustom01">First name</label>
              <input type="text" class="form-control" id="validationCustom01" placeholder="First name" name="given-name" rv-value="form.fields.givenName | default 'Mark'" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label class="form-label" for="validationCustom02">Last name</label>
              <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" name="family-name" rv-value="form.fields.familyName | default 'Otto'" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label class="form-label" for="validationCustomUsername">Username</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend">@</span>
                </div>
                <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" name="nickname" rv-value="form.fields.nickname | default 'test'" required>
                <div class="invalid-feedback">
                  Please choose a username.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" for="validationCustom03">City</label>
              <input type="text" class="form-control" id="validationCustom03" placeholder="City" name="address-level2" rv-value="form.fields.addressLevel2" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label class="form-label" for="validationCustom04">State</label>
              <input type="text" class="form-control" id="validationCustom04" placeholder="State" name="address-level1" rv-value="form.fields.addressLevel1" required>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label class="form-label" for="validationCustom05">Zip</label>
              <input
                type="text"
                class="form-control"
                id="validationCustom05"
                placeholder="Zip"
                name="postal-code"
                rv-value="form.fields.postalCode"
                required
                rv-show-toast-on-invalid="{'message': 'The postcode is required', 'title': 'Zip', 'channel': 'formular', 'contextualClass': 'danger'}"
              >
              <div class="invalid-feedback">
                Please provide a valid zip.
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="terms-accepted"
                rv-checked="form.fields.termsAccepted"
                id="invalidCheck"
                required
                rv-show-toast-on-invalid="{'message': 'You must agree the terms and conditions before submitting.', 'title': 'Terms and conditions', 'channel': 'formular', 'contextualClass': 'danger'}"
              >
              <label class="form-check-label"  for="invalidCheck">
                Agree to terms and conditions
              </label>
              <div class="invalid-feedback">
                You must agree before submitting.
              </div>
            </div>
          </div>
          <button class="btn btn-primary" rv-disabled="submitDisabled" type="submit">Submit form</button>
        </form>
      </bs5-form>
    </section>
  </div>
</div>
<bs5-notification-container channel-name="formular" icon-url="/iconset/svg/icon_error-circle.svg">
</bs5-notification-container>