bs4-slideshow {
  display: block;
  @extend .carousel;

  .slideshow-inner {
    @extend .row;
    @extend .flex-scrollbar-x-scroll;
    @extend .scrollbar-invisible;

    .slide-caption {
      @extend .carousel-caption;
    }
  }

  .slideshow-control-prev, .slideshow-control-next {
    color: inherit;
    width: 50px;
    padding: 0;
    opacity: 1;
    &:hover, &:focus {
      opacity: 1;
      color: $link-color;
    }
  }

  .slideshow-control-prev {
    @extend .carousel-control-prev;
    left: 0;
  }
  .slideshow-control-next {
    @extend .carousel-control-next;
    right: 0;
  }

  .slideshow-control-fallback-prev-icon {
    @extend .carousel-control-next-icon;
  }
  .slideshow-control-fallback-next-icon {
    @extend .carousel-control-next-icon;
  }

  // .slideshow-indicators {
  //   @extend .carousel-indicators;
  // }

  .slideshow-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: $carousel-control-width;
    margin-left: $carousel-control-width;
    li {
      flex: 0 1 auto;
      margin-right: $carousel-indicator-spacer;
      margin-left: $carousel-indicator-spacer;
    }
  }
}
