<div class="container py-5 page {{template|handleize}}" id="page-content-{{page.handle}}"><div class="row pt-5"><div class="col-12"><div class="row"><div class="col-12"><h1 class="page-title">{{ page.title }}</h1><div class="rte">{{ page.content }}</div><div class="content"><bs4-contents class="d-block d-lg-none top-contents" header-parent-selector="#main-container" headers-start="2" headers-depth="4" scroll-offset="80"></bs4-contents><section class="my-5"><h1>Core Module</h1>
<h2>Install</h2>
<pre><code class="language-bash">npm install --save @ribajs/core
</code></pre>
<h2>Regist</h2>
<p>To regist the module include <code>import coreModule from '@ribajs/core';</code> in your <code>main.ts</code> file and regist the module with <code>riba.module.regist(coreModule);</code>:</p>
<pre><code class="language-ts">import { Riba, Utils, coreModule } from '@ribajs/core';
const riba = new Riba();
const model = {};
riba.module.regist(coreModule);
Utils.domIsReady(() =&gt; {
  riba.bind(document.body, model);
});
</code></pre>
</section><bs4-scrollspy class="d-none d-lg-block py-3 side-scrollspy scrollbar-primary-on-hover scrollbar-y-auto scrollbar-x-hidden" rv-scrollbar-draggable="rv-scrollbar-draggable" header-parent-selector="#main-container" headers-start="2" headers-depth="4" offset="200" offset-bottom="80" scroll-offset="80"></bs4-scrollspy></div></div></div></div></div></div>