rv-bind-content
  template
    rv-example-tabs(handle="bs4-tabs-attr")
      template(title="Source", type="source")
        include:prismjs(language = 'html') ../../../../demos/bs4-tabs-attr/src/components/bs4-tabs-attr-example/bs4-tabs-attr-example.component.html
      template(title="Preview", type="preview")
        rv-bs4-tabs-attr-example
      template(title="Info", type="info")
        include:markdown-it(html) ../../../../demos/bs4-tabs-attr/README.md
