rv-bind-content
  template
    rv-example-tabs(handle="each-item")
      template(title="component.html", type="source")
        include:prismjs(language = 'html') ../../../../demos/core-each-item/src/components/each-item-example/each-item-example.component.html
      template(title="component.ts", type="source")
        include:prismjs(language = 'typescript') ../../../../demos/core-each-item/src/components/each-item-example/each-item-example.component.ts
      template(title="index.html", type="source")
        include:prismjs(language = 'html') ../../../../demos/core-each-item/src/index.html
      template(title="Info", type="info")
        include:markdown-it(html) ../../../../demos/core-each-item/README.md
      template(title="Preview", type="preview")
        rv-each-item-example 
