<tagged-image src="../../../Hamburg-Hbf-HDR.jpg">
  <tag x="0.5" y="0.5" title="hello1">content1</tag>
  <tag title="hello2">content2</tag>
  <tag title="hello3">content3</tag>
  <tag x="0.25" y="0.75" title="hello4">content4</tag>
  <tag title="hello5">content5</tag>
  <tag title="hello6">content6</tag>
  <tag x="0.75" y="0.25" title="hello7">content7</tag>
  <tag title="hello8">content8</tag>
  <tag title="hello9">content9</tag>
  <tag x="0.5" y="0.01" title="helloTop">Top</tag>
  <tag x="0.5" y="0.99" title="helloBottom">Bottom</tag>
  <tag x="0.01" y="0.5" title="helloLeft">Left</tag>
  <tag x="0.99" y="0.5" title="helloRight">Right</tag>
</tagged-image>