bs4-accordion {
  .card-header {
    &.btn {
      text-align: inherit;
      &.btn-link {
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
