<div class="container">
  <div class="row">
    <section class="col-12 mb-5">

      <div class="form-row">

        <div class="form-group col-md-4">
          <label for="message">Message</label>
          <input type="text" class="form-control" id="message" placeholder="Message" name="message" rv-value="message">
        </div>

        <div class="form-group col-md-4">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Title" name="title" rv-value="title">
        </div>

        <!-- <div class="form-group col-md-4">
          <label for="title">Title</label>
          <select class="form-control custom-select">
            <option selected>Type</option>
            <option value="primary">Primary</option>
            <option value="success">Success</option>
            <option value="danger">Danger</option>
            <option value="dark">Dark</option>
          </select>
        </div> -->

        <div class="col-12">
          <button class="btn btn-primary" rv-show-toast-on-click="{'message': '{ toast.$context.message }', 'title': '{ toast.$context.title }'}" type="button">Trigger toast</button>
        </div>
      </div>

    </section>
  </div>
</div>
<bs4-toast-container icon-url="./../../../icon.svg">
</bs4-toast-container>