tagged-image {
  overflow: visible;
  position: relative;
  display: inline-block;
  height: auto;

  img {
    width: 100%;
    top: 0;
    left: 0;
  }

  tag {
    visibility: hidden;
    box-sizing: border-box;
    z-index: 1333333338;
    width: 0px;
    height: 0px;
    //transform: translate(-5px, -5px);
    position: absolute;
    cursor: pointer;
    &::before {
      visibility: visible;
      content: '\200b'; // zero-width whitespace, just to fill it with emptiness
      box-sizing: content-box;
      z-index: 1333333337;
      width: 0;
      height: 0;
      padding: 5px;
      background-color: #23de00;
      border-radius: 5px;
      position: absolute;
      transform: translate(-5px, -5px);
      transition: all ease-in-out 0.1s;
    }
    &:hover {
      &::before {
        transform: translate(-20px, -20px);
        padding: 20px;
        border-radius: 20px;
      }
    }
  }
}