$gamepad-key-active-color: yellow !default;

a11y-gamepad-keys {
  display: block;

  h2 {
    max-width: 80%;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  svg {
    width: 80%;
    max-width: 600px;
  }

  .active {
    fill: $gamepad-key-active-color;
    stroke: $gamepad-key-active-color;
  }
}