
@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  @include media-breakpoint-up($breakpoint) {
    .scrollbar#{$infix}-default {
      &::-webkit-scrollbar, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track {
        all: initial !important;
      }
      scrollbar-face-color: initial !important;
      scrollbar-track-color: initial !important;
    }

    .scrollbar#{$infix}-black {
      @include scrollbars(.5em, $black, transparent);
    }

    .scrollbar#{$infix}-primary {
      @include scrollbars(.5em, theme-color(primary), transparent);
    }

    .scrollbar#{$infix}-secondary {
      @include scrollbars(.5em, theme-color(secondary), transparent);
    }

    .scrollbar#{$infix}-success {
      @include scrollbars(.5em, theme-color(success), transparent);
    }

    .scrollbar#{$infix}-danger {
      @include scrollbars(.5em, theme-color(danger), transparent);
    }

    .scrollbar#{$infix}-warning {
      @include scrollbars(.5em, theme-color(warning), transparent);
    }

    .scrollbar#{$infix}-info {
      @include scrollbars(.5em, theme-color(info), transparent);
    }

    .scrollbar#{$infix}-light {
      @include scrollbars(.5em, theme-color(light), transparent);
    }

    .scrollbar#{$infix}-dark {
      @include scrollbars(.5em, theme-color(dark), transparent);
    }

    .scrollbar#{$infix}-white {
      @include scrollbars(.5em, $white, transparent);
    }

    .scrollbar#{$infix}-invisible {
      @include scrollbars(0, transparent, transparent);
      -ms-overflow-style: none; /* IE 11 */
      scrollbar-width: none; /* Firefox 64 */
    }


    .scrollbar#{$infix}-black-on-hover {
      @extend .scrollbar#{$infix}-invisible;
      &:hover {
        @extend .scrollbar#{$infix}-black;
      }
    }

    .scrollbar#{$infix}-primary-on-hover {
      @extend .scrollbar#{$infix}-invisible;
      &:hover {
        @extend .scrollbar#{$infix}-primary;
      }
    }

    .scrollbar#{$infix}-secondary-on-hover {
      @extend .scrollbar#{$infix}-invisible;
      &:hover {
        @extend .scrollbar#{$infix}-secondary;
      }
    }

    .scrollbar#{$infix}-success-on-hover {
      @extend .scrollbar#{$infix}-invisible;
      &:hover {
        @extend .scrollbar#{$infix}-success;
      }
    }

    .scrollbar#{$infix}-danger-on-hover {
      @extend .scrollbar#{$infix}-invisible;
      &:hover {
        @extend .scrollbar#{$infix}-danger;
      }
    }

    .scrollbar#{$infix}-warning-on-hover {
      @extend .scrollbar#{$infix}-invisible;
      &:hover {
        @extend .scrollbar#{$infix}-warning;
      }
    }

    .scrollbar#{$infix}-info-on-hover {
      @extend .scrollbar#{$infix}-invisible;
      &:hover {
        @extend .scrollbar#{$infix}-info;
      }
    }

    .scrollbar#{$infix}-light-on-hover {
      @extend .scrollbar#{$infix}-invisible;
      &:hover {
        @extend .scrollbar#{$infix}-light;
      }
    }

    .scrollbar#{$infix}-dark-on-hover {
      @extend .scrollbar#{$infix}-invisible;
      &:hover {
        @extend .scrollbar#{$infix}-dark;
      }
    }

    .scrollbar#{$infix}-white-on-hover {
      @extend .scrollbar#{$infix}-invisible;
      &:hover {
        @extend .scrollbar#{$infix}-white;
      }
    }


    .scrollbar#{$infix}-x-auto {
      overflow-x: auto;
      max-width: 100%;
      &.row {
        max-width: initial;
      }
    }

    .scrollbar#{$infix}-y-auto {
      overflow-y: auto;
      max-height: 100%;
    }

    .scrollbar#{$infix}-auto {
      @extend .scrollbar#{$infix}-x-auto;
      @extend .scrollbar#{$infix}-y-auto;
    }

    .scrollbar#{$infix}-x-visible {
      overflow-x: visible;
      max-width: 100%;
      &.row {
        max-width: initial;
      }
    }

    .scrollbar#{$infix}-y-visible {
      overflow-y: visible;
      max-height: 100%;
    }

    .scrollbar#{$infix}-visible {
      @extend .scrollbar#{$infix}-x-visible;
      @extend .scrollbar#{$infix}-y-visible;
    }


    .scrollbar#{$infix}-x-hidden {
      overflow-x: hidden;
    }

    .scrollbar#{$infix}-y-hidden {
      overflow-y: hidden;
    }

    .scrollbar#{$infix}-hidden {
      overflow: hidden;
    }


    .scrollbar#{$infix}-x-scroll {
      overflow-x: scroll;
    }

    .scrollbar#{$infix}-y-scroll {
      overflow-y: scroll;
    }

    .scrollbar#{$infix}-scroll {
      overflow: scroll;
    }


    .flex-scrollbar#{$infix}-y-auto {
      flex-wrap: nowrap;
      white-space: nowrap;
      @extend .scrollbar#{$infix}-y-auto;
    }

    .flex-scrollbar#{$infix}-x-auto {
      flex-wrap: nowrap;
      white-space: nowrap;
      @extend .scrollbar#{$infix}-x-auto;
    }

    .flex-scrollbar#{$infix}-auto {
      @extend .flex-scrollbar-x-auto;
      @extend .flex-scrollbar-y-auto;
    }

    .flex-scrollbar#{$infix}-y-visible {
      flex-wrap: nowrap;
      white-space: nowrap;
      @extend .scrollbar#{$infix}-y-visible;
    }

    .flex-scrollbar#{$infix}-x-visible {
      flex-wrap: nowrap;
      white-space: nowrap;
      @extend .scrollbar#{$infix}-x-visible;
    }


    .flex-scrollbar#{$infix}-y-scroll {
      flex-wrap: nowrap;
      white-space: nowrap;
      @extend .scrollbar#{$infix}-y-scroll;
    }

    .flex-scrollbar#{$infix}-x-scroll {
      flex-wrap: nowrap;
      white-space: nowrap;
      @extend .scrollbar#{$infix}-x-scroll;
    }

    .flex-scrollbar#{$infix}-scroll {
      @extend .flex-scrollbar-x-scroll;
      @extend .flex-scrollbar-y-scroll;
    }


    .scrollbar#{$infix}-x-visible-on-hover {
      @extend .scrollbar#{$infix}-invisible;
      &:hover {
        overflow-x: visible !important;
        margin-bottom: 0px !important;
      }
    }

    .scrollbar#{$infix}-y-visible-on-hover {
      @extend .scrollbar#{$infix}-invisible;
      &:hover {
        overflow-y: visible !important;
        margin-right: 0px !important;
      }
    }

    .scrollbar#{$infix}-visible-on-hover {
      @extend .scrollbar#{$infix}-x-visible-on-hover;
      @extend .scrollbar#{$infix}-y-visible-on-hover;
    }
  }
}