accessibility-gamepad-example {
  footer {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    color: #ddd;
    font-family: arial, sans-serif;
    font-size: 0.85rem;
    a {
      color: white;
      text-decoration: underline;
    }
  }
}