a11y-gamepad-keys
a11y-keyboard-keys
footer
  | The SNES controller is based on the SNES controller example from 
  a(href='https://github.com/alvaromontoro/gamecontroller.js') Alvaro Montoro's gamecontroller.js
  |  and the keyboard is based on the demo from 
  a(href='https://github.com/hodgef/simple-keyboard') Francisco Hodge's simple-keyboard
  | .
