rv-extras-scroll-events-example {
  display: block;
  height: 100%;
  width: 100%;
  .touch-zone {
    user-select: none;
    min-height: 300px;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: scroll;
    .touch-space {
      width: 10000px;
      height: 10000px;
    }
    .touch-zone-background {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      pointer-events: none;
    }
  }
  .console {
    overflow: auto;
    max-height: 100%;
    .log {
      margin: 0;
      @extend .small !optional;
      @extend .d-flex !optional;
      @extend .justify-content-between !optional;
      .name {
        @extend .text-info !optional;
        min-width: 80px;
      }
      .detail {
        @extend .text-warning !optional;
      }
      .time {
        @extend .text-success !optional;
      }
      .no-data {
        @extend .text-danger !optional;
      }
      // Hide no-data if it is not the only child
      &:not(:only-child) {
        .no-data {
          @extend .d-none !optional;
        }
      }
    }
  }
}
