<i18n-switcher>
  <p><strong rv-i18n-text="'examples.i18n.switch_language'"></strong></p>
  <div class="nav-item" rv-each-langcode="langcodes">
    <button
      class="btn btn-link text-uppercase"
      rv-text="langcode.code"
      rv-on-click="switch | args langcode"
      rv-class-active="langcode.active"
    ></button>
  </div>
</i18n-switcher>

<h1 rv-i18n-text="'examples.newsletter.title'"></h1>
<p rv-i18n-html="'examples.newsletter.description_html'"></p>
<input type="text" rv-i18n-value="'examples.newsletter.input_value'" />
<input type="text" rv-i18n-placeholder="'examples.newsletter.placeholder_last_name'" />
