$shopify-tda-instagram-scrollbar-component-font-size: 9vw !default;
$shopify-tda-instagram-scrollbar-component-line-height: $shopify-tda-instagram-scrollbar-component-font-size !default;

.title-row {
  .title-col {
    font-size: $shopify-tda-instagram-scrollbar-component-font-size;
    line-height: $shopify-tda-instagram-scrollbar-component-line-height;
  }
}
