//- https://realfavicongenerator.net/
link(rel="apple-touch-icon", sizes="180x180", href="{{ 'favicons_apple-touch-icon.png' | asset_url }}")
link(rel="icon", type="image/png", sizes="32x32", href="{{ 'favicons_favicon-32x32.png' | asset_url }}")
link(rel="icon", type="image/png", sizes="16x16", href="{{ 'favicons_favicon-16x16.png' | asset_url }}")
link(rel="manifest", href="{{ 'favicons_site.webmanifest' | asset_url }}")
link(rel="mask-icon", href="{{ 'favicons_safari-pinned-tab.svg' | asset_url }}", color="#37a07e")
link(rel="shortcut icon", href="{{ 'favicons_favicon.ico' | asset_url }}")
meta(name="msapplication-TileColor", content="#37a07e")
meta(name="msapplication-config", content="{{ 'favicons_browserconfig.xml' | asset_url }}")
meta(name="theme-color", content="#37a07e")
