{% comment %} Navigation Desktop {% endcomment %}
<bs4-navbar class="navbar navbar-dark navbar-main fixed-top bg-primary">

  {% comment %}
    MAINBAR
  {% endcomment %}
  <div class="container-fluid d-block px-0">
    <div class="row justify-content-between">

      {% comment %}
        MAINBAR LEFT
      {% endcomment %}
      <div class="col-auto d-flex align-items-center px-0">
        <bs4-toggle-button target-id="main-sidebar">
          <ul class="nav d-flex">
            <li class="nav-item d-flex align-items-center">
              <div rv-show="isClosed" class="nav-link pb-0" rv-on-click="toggle">
                <bs4-icon src="{{ 'icon_menu.svg' | asset_url }}" size="32"></bs4-icon>
              </div>
            </li>
            <li class="nav-item d-flex align-items-center">
              <div rv-hide="isClosed" class="nav-link pb-0" rv-on-click="toggle">
                <bs4-icon src="{{ 'icon_close.svg' | asset_url }}" size="32"></bs4-icon>
              </div>
            </li>
          </ul>
        </bs4-toggle-button>
        <a class="navbar-brand" href="/" rv-route="/">Riba</a>
      </div>

      {% comment %}
        MAINBAR RIGHT
      {% endcomment %}
      <div class="col-auto d-flex align-items-center">

        {% comment %}
          Desktop
        {% endcomment %}
        <ul class="nav d-none d-md-flex">
          <shopify-linklist class="d-flex align-items-center" name="main-menu" vertical="false" pills="false"></shopify-linklist>
        </ul>

      </div>
    </div>
  </div>

  {% comment %} Collapsed navigation TODO FIXME IF THIS IS REMOVED {% endcomment %}
  <div class="collapse navbar-collapse d-md-none scrollbar-y-auto">
    <div class="container-fluid">
      <div class="row">
        <shopify-linklist class="col-12" name="main-menu" vertical="true" pills="false"></shopify-linklist>
      </div>
    </div>
  </div>

</bs4-navbar>
