extends ../layouts/page

block append head
  - pageTitle = "Iconset Module"

block title
  | Iconset Module

block page-content

  section.my-5#icons
    h2 Icons
    include:markdown-it(html) ../../doc/reference/iconset/icons.md
  .row
    if icons && icons.length
      each icon in icons
        section.col-4.col-md-3.col-xl-2.py-2
          .row
            .col-auto.mx-auto.d-flex.align-items-center
              bs5-icon.m-1(src="./iconset/" + icon + ".svg" size="32" color="black")
            .col-12.mx-auto.text-center
              small= icon
