extends ../layouts/main

block append head
  - pageTitle = ""
  - bodyId = "index"

block content
  //- Single root so PJAX `router-view > *:first-child` swaps the full homepage (not only the first section).
  .index-page
    include ../partials/header
    .container
      .row
        .separator.col-12
          h2 Why Riba.js?
        section.flexible.col-12.col-md-6.my-3
          include:markdown-it(html) ../../doc/why/flexible.md
        section.configurable.col-12.col-md-6.my-3
          include:markdown-it(html) ../../doc/why/configurable.md
      .row
        .separator.col-12
          h2 Highlights
        section.binders.col-12.col-md-6.my-3
          include:markdown-it(html) ../../doc/highlights/binders.md
        section.formatters.col-12.col-md-6.my-3(rv-block)
          include:markdown-it(html) ../../doc/highlights/formatters.md
        section.adapters.col-12.col-md-6.my-3
          include:markdown-it(html) ../../doc/highlights/adapters.md
        section.web-components.col-12.col-md-6.my-3
          include:markdown-it(html) ../../doc/highlights/web-components.md
      .row
        .separator.col-12
          h2 Example
        section.example.col-12.my-3
          include ../../doc/demos/core-each-[item]
    section.author.py-5
      .container
        .row
          .col-12
            h2 Authors
            p
              | Pascal Garber by
              a(href="https://artandcode.studio/") Art+Code Studio
              br
              | Luiz Am&eacute;rico Pereira C&acirc;mara, author of
              a(href="https://blikblum.github.io/tinybind/") tinybind
              br
              | Michael Richards, original author of
              a(href="http://rivetsjs.com/") Rivets.js
