extends ../layouts/page

block append head
  - pageTitle = "jQuery Module"

block title
  | jQuery Module

block page-content

  section.my-5
    include:markdown-it(html) ../../../../../packages/jquery/README.md

  section.my-5#binders
    h2 Binders

    section.my-5#on-event
      h3 on-[event]
      include:markdown-it(html) ../../doc/reference/jquery/binders/on-[event].md
