extends ../layouts/page

block append head
  - pageTitle = "Router Hooks"

block title
  | Router Hooks

block page-content
  section.my-5
    include:markdown-it(html) ../../doc/reference/router/hooks.md
