extends ../layouts/page

block append head
  - pageTitle = "Router Recipes"

block title
  | Router Recipes

block page-content
  section.my-5
    include:markdown-it(html) ../../doc/reference/router/recipes.md
