extends ../layouts/page

block append head
  - pageTitle = "Router Getting Started"

block title
  | Router Getting Started

block page-content

  section.my-5#about
    h2 About
    section
      include:markdown-it(html) ../../doc/reference/router/about.md

  section.my-5#install
    h2 Install
    section
      include:markdown-it(html) ../../doc/reference/router/install.md

  section.my-5#markup
    h2 Markup and Basic Transition
    section
      include:markdown-it(html) ../../doc/reference/router/basic-transition.md

  section.my-5#events
    h2 Events
    section
      include:markdown-it(html) ../../doc/reference/router/events.md

  section.my-5#next-steps
    h2 Next Steps
    p
      | Continue with
      a.mx-1(href="router-lifecycle.html") Lifecycle
      | ,
      a.mx-1(href="router-transitions.html") Transitions
      | ,
      a.mx-1(href="router-hooks.html") Hooks
      | ,
      a.mx-1(href="router-binders.html") Binders
      | and
      a.mx-1(href="router-components.html") Components
      | documentation.
