extends ../layouts/page

block append head
  - pageTitle = "Router Lifecycle"

block title
  | Router Lifecycle

block page-content
  section.my-5
    include:markdown-it(html) ../../doc/reference/router/lifecycle.md
