rv-bind-content {
  &:not(.bound) {
    display: block;
    overflow: hidden;
    position: relative;
    min-width: 100%;
    min-height: 150px;
    cursor: pointer;
  }
  .wrapper {
    background-color: $code-background-color;
    position: absolute;
    width: 100%;
    // height: 100%;
    border-radius: $code-border-radius;

    .icon {
      background-image: url(arrow_triangle.svg);
      background-repeat: no-repeat;
      background-position: center center;
      width: 50px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      background-size: contain;
      position: relative;
      top: 25px;
      // white color
      filter: invert(100%);
      // arrow to right
      transform: rotate(90deg);
    }
  
    p {
      color: white;
      text-align: center;
      padding-top: 25px;
    }

  }
}
