extends ../_extends/generated-page.pug

block content

  section.my-5#about
    h2 About
    section
      include:markdown-it(html) ../../../doc/reference/shopify-tda/about.md

  section.my-5#install
    h2 Install
    section
      include:markdown-it(html) ../../../doc/reference/shopify-tda/install.md

  section.my-5
    h2#services Services

    section.my-5#instagram-service
      h3 InstagramService
      include:markdown-it(html) ../../../doc/reference/shopify-tda/services/instagram-service.md

    section.my-5#locales-service
      h3 LocalesService
      include:markdown-it(html) ../../../doc/reference/shopify-tda/services/locales-service.md
