extends ../_extends/generated-page.pug

block content

  section.my-5
    include:markdown-it(html) ../../../../bs4/README.md

  section.my-5#binders
    h2 Binders

    section#scroll-to-on-event.my-5
      h3 scroll-to-on-[event]
      section
        include:markdown-it(html) ../../../doc/reference/bs4/binders/scroll-to-on-[event].md

    section#tooltip-binder.my-5
      h3 bs4-tooltip
      section
        include:markdown-it(html) ../../../doc/reference/bs4/binders/bs4-tooltip.md

  section#components.my-5
    h2 Components

    section#bs4-icon.my-5
      h3 bs4-icon
      section
        include:markdown-it(html) ../../../doc/reference/bs4/components/bs4-icon.md

    section#bs4-accordion.my-5
      h3 bs4-accordion
      section
        include:markdown-it(html) ../../../doc/reference/bs4/components/bs4-accordion.md

    section#bs4-contents.my-5
      h3 bs4-contents
      section
        include:markdown-it(html) ../../../doc/reference/bs4/components/bs4-contents.md

    section#bs4-tabs.my-5
      h3 bs4-tabs
      section
        include:markdown-it(html) ../../../doc/reference/bs4/components/bs4-tabs/bs4-tabs-with-attributes.md
        include ../../../doc/demos/bs4-tabs-attr

      section.mt-5
        include:markdown-it(html) ../../../doc/reference/bs4/components/bs4-tabs/bs4-tabs-with-templates.md
        include ../../../doc/demos/bs4-tabs-tpl

    section#bs4-toggle-button.my-5
      h3 bs4-toggle-button
      section
        include:markdown-it(html) ../../../doc/reference/bs4/components/bs4-toggle-button.md

    section#bs4-sidebar.my-5
      h3 bs4-sidebar
      section
        include:markdown-it(html) ../../../doc/reference/bs4/components/bs4-sidebar.md

    section#bs4-navbar.my-5
      h3 bs4-navbar
      section
        include:markdown-it(html) ../../../doc/reference/bs4/components/bs4-navbar.md

    section#bs4-dropdown.my-5
      h3 bs4-dropdown
      section
        include:markdown-it(html) ../../../doc/reference/bs4/components/bs4-dropdown.md

    section#bs4-slideshow.my-5
      h3 bs4-slideshow
      section
        include:markdown-it(html) ../../../doc/reference/bs4/components/bs4-slideshow.md
