extends ../_extends/generated-page.pug

block content
  ul.list-unstyled
    li: h2: a(href="/pages/core" rv-route) Core
    li: h2: a(href="/pages/bs4" rv-route) Bootstrap 4
    li: h2: a(href="/pages/shopify" rv-route) Shopify