extends ../_extends/generated-page.pug

block content

  section.my-5#array-formatters
    h2 Array formatters

    section.my-5#contains-formatter
      h3 contains
      include:markdown-it(html) ../../../doc/reference/core/formatters/array/contains.md

    section.my-5#empty-formatter
      h3 empty
      include:markdown-it(html) ../../../doc/reference/core/formatters/array/empty.md

    section.my-5#first-formatter
      h3 first
      include:markdown-it(html) ../../../doc/reference/core/formatters/array/first.md

    section.my-5#get-formatter
      h3 get
      include:markdown-it(html) ../../../doc/reference/core/formatters/array/get.md

    section.my-5#is-last-formatter
      h3 is-last
      include:markdown-it(html) ../../../doc/reference/core/formatters/array/is-last.md

    section.my-5#last-formatter
      h3 last
      include:markdown-it(html) ../../../doc/reference/core/formatters/array/last.md

    section.my-5#random-formatter
      h3 random
      include:markdown-it(html) ../../../doc/reference/core/formatters/array/random.md

    section.my-5#set-formatter
      h3 set
      include:markdown-it(html) ../../../doc/reference/core/formatters/array/set.md

    section.my-5#size-formatter
      h3 size
      include:markdown-it(html) ../../../doc/reference/core/formatters/array/size.md

  section.my-5#compare-formatters
    h2 Compare formatters

    section.my-5#and-formatter
      h3 and
      include:markdown-it(html) ../../../doc/reference/core/formatters/compare/and.md

    section.my-5#between-formatter
      h3 between
      include:markdown-it(html) ../../../doc/reference/core/formatters/compare/between.md

    section.my-5#egt-formatter
      h3 egt
      include:markdown-it(html) ../../../doc/reference/core/formatters/compare/egt.md

    section.my-5#elt-formatter
      h3 elt
      include:markdown-it(html) ../../../doc/reference/core/formatters/compare/elt.md

    section.my-5#eq-formatter
      h3 eq
      include:markdown-it(html) ../../../doc/reference/core/formatters/compare/eq.md

    section.my-5#lt-formatter
      h3 lt
      include:markdown-it(html) ../../../doc/reference/core/formatters/compare/lt.md

    section.my-5#ne-formatter
      h3 ne
      include:markdown-it(html) ../../../doc/reference/core/formatters/compare/ne.md

    section.my-5#not-formatter
      h3 not
      include:markdown-it(html) ../../../doc/reference/core/formatters/compare/not.md

    section.my-5#or-formatter
      h3 or
      include:markdown-it(html) ../../../doc/reference/core/formatters/compare/or.md

  section.my-5#math-formatters
    h2 Math formatters

    section.my-5#digits-formatter
      h3 digits
      include:markdown-it(html) ../../../doc/reference/core/formatters/math/digits.md

    section.my-5#divided-by-formatter
      h3 dividedBy
      include:markdown-it(html) ../../../doc/reference/core/formatters/math/divided-by.md

    section.my-5#even-formatter
      h3 even / uneven
      include:markdown-it(html) ../../../doc/reference/core/formatters/math/even.md

    section.my-5#gcd-formatter
      h3 gcd
      include:markdown-it(html) ../../../doc/reference/core/formatters/math/gcd.md

    section.my-5#minus-formatter
      h3 minus
      include:markdown-it(html) ../../../doc/reference/core/formatters/math/minus.md

    section.my-5#modulo-formatter
      h3 modulo
      include:markdown-it(html) ../../../doc/reference/core/formatters/math/modulo.md

    section.my-5#number-formatter
      h3 number
      include:markdown-it(html) ../../../doc/reference/core/formatters/math/number.md

    section.my-5#plus-formatter
      h3 plus
      include:markdown-it(html) ../../../doc/reference/core/formatters/math/plus.md

    section.my-5#times-formatter
      h3 times
      include:markdown-it(html) ../../../doc/reference/core/formatters/math/times.md

  section.my-5#special-formatters
    h2 Special formatters

    section.my-5#args-formatter
      h3 args
      include:markdown-it(html) ../../../doc/reference/core/formatters/special/args.md

    section.my-5#call-formatter
      h3 call
      include:markdown-it(html) ../../../doc/reference/core/formatters/special/call.md

    section.my-5#debug-formatter
      h3 debug
      include:markdown-it(html) ../../../doc/reference/core/formatters/special/debug.md

    section.my-5#default-formatter
      h3 default
      include:markdown-it(html) ../../../doc/reference/core/formatters/special/default.md

  section.my-5#string-formatters
    h2 String formatters

    section.my-5#append-formatter
      h3 append
      include:markdown-it(html) ../../../doc/reference/core/formatters/string/append.md

    section.my-5#downcase-formatter
      h3 downcase
      include:markdown-it(html) ../../../doc/reference/core/formatters/string/downcase.md

    section.my-5#filled-formatter
      h3 filled
      include:markdown-it(html) ../../../doc/reference/core/formatters/string/filled.md

    section.my-5#handleize-formatter
      h3 handleize
      include:markdown-it(html) ../../../doc/reference/core/formatters/string/handleize.md

    section.my-5#match-formatter
      h3 match
      include:markdown-it(html) ../../../doc/reference/core/formatters/string/match.md

    section.my-5#pluralize-formatter
      h3 pluralize
      include:markdown-it(html) ../../../doc/reference/core/formatters/string/pluralize.md

    section.my-5#prepend-formatter
      h3 prepend
      include:markdown-it(html) ../../../doc/reference/core/formatters/string/prepend.md

    section.my-5#replace-first-formatter
      h3 replaceFirst
      include:markdown-it(html) ../../../doc/reference/core/formatters/string/replace-first.md

    section.my-5#replace-formatter
      h3 replace
      include:markdown-it(html) ../../../doc/reference/core/formatters/string/replace.md

    section.my-5#slice-formatter
      h3 slice
      include:markdown-it(html) ../../../doc/reference/core/formatters/string/slice.md

    section.my-5#strip-html-formatter
      h3 strip-html
      include:markdown-it(html) ../../../doc/reference/core/formatters/string/strip-html.md

    section.my-5#strip-formatter
      h3 strip
      include:markdown-it(html) ../../../doc/reference/core/formatters/string/strip.md

    section.my-5#upcase-formatter
      h3 upcase
      include:markdown-it(html) ../../../doc/reference/core/formatters/string/upcase.md

  section.my-5#type-formatters
    h2 Type formatters

    section.my-5#boolean-formatter
      h3 boolean
      include:markdown-it(html) ../../../doc/reference/core/formatters/type/boolean.md

    section.my-5#is-array-formatter
      h3 isArray
      include:markdown-it(html) ../../../doc/reference/core/formatters/type/is-array.md

    section.my-5#is-boolean-formatter
      h3 isBoolean
      include:markdown-it(html) ../../../doc/reference/core/formatters/type/is-boolean.md

    section.my-5#is-defined-formatter
      h3 isDefined
      include:markdown-it(html) ../../../doc/reference/core/formatters/type/is-defined.md

    section.my-5#is-number-formatter
      h3 isNumber
      include:markdown-it(html) ../../../doc/reference/core/formatters/type/is-number.md

    section.my-5#is-object-formatter
      h3 isObject
      include:markdown-it(html) ../../../doc/reference/core/formatters/type/is-object.md

    section.my-5#is-string-formatter
      h3 isString
      include:markdown-it(html) ../../../doc/reference/core/formatters/type/is-string.md

    section.my-5#is-undefined-formatter
      h3 isUndefined
      include:markdown-it(html) ../../../doc/reference/core/formatters/type/is-undefined.md

    section.my-5#json-formatter
      h3 json
      include:markdown-it(html) ../../../doc/reference/core/formatters/type/json.md

    section.my-5#parse-formatter
      h3 parse
      include:markdown-it(html) ../../../doc/reference/core/formatters/type/parse.md

    section.my-5#string-formatter
      h3 string
      include:markdown-it(html) ../../../doc/reference/core/formatters/type/string.md