extends ../_extends/generated-page.pug

block content

  section.my-5#add-class-binder
    h2 add-class
    include:markdown-it(html) ../../../doc/reference/core/binders/add-class.md

  section.my-5#remove-class-binder
    h2 remove-class
    include:markdown-it(html) ../../../doc/reference/core/binders/remove-class.md

  //- section.my-5#animate-classname-binder
  //-   h2 animate-classname
  //-   include:markdown-it(html) ../../../doc/reference/core/binders/animate-classname.md

  section.my-5#assign-binder
    h2 assign
    include:markdown-it(html) ../../../doc/reference/core/binders/assign.md

  section.my-5#assign-property-binder
    h2 assign-[property]
    include:markdown-it(html) ../../../doc/reference/core/binders/assign-[property].md

  section.my-5#attribute-binder
    h2 [attribute]
    include:markdown-it(html) ../../../doc/reference/core/binders/[attribute].md

  section.my-5#block-binder
    h2 block
    include:markdown-it(html) ../../../doc/reference/core/binders/block.md

  section.my-5#checked-binder
    h2 checked
    include:markdown-it(html) ../../../doc/reference/core/binders/checked.md

  section.my-5#unchecked-binder
    h2 unchecked
    include:markdown-it(html) ../../../doc/reference/core/binders/unchecked.md

  section.my-5#class-classname-binder
    h2 class-[classname]
    include:markdown-it(html) ../../../doc/reference/core/binders/class-[classname].md

  section.my-5#disabled-binder
    h2 disabled
    include:markdown-it(html) ../../../doc/reference/core/binders/disabled.md

  section.my-5#enabled-binder
    h2 enabled
    include:markdown-it(html) ../../../doc/reference/core/binders/enabled.md

  section.my-5#each-item-binder
    h2 each-[item]
    include:markdown-it(html) ../../../doc/reference/core/binders/each-[item]/each-[item].md
    include ../../../doc/demos/core-each-[item]

  section.my-5#nested-each-item-binder
    h2 Nested each-[item]
    include:markdown-it(html) ../../../doc/reference/core/binders/each-[item]/nested-each-[item].md

  section.my-5#hide-binder
    h2 hide
    include:markdown-it(html) ../../../doc/reference/core/binders/hide.md

  section.my-5#show-binder
    h2 show
    include:markdown-it(html) ../../../doc/reference/core/binders/show.md

  section.my-5#html-binder
    h2 html
    include:markdown-it(html) ../../../doc/reference/core/binders/html.md

  section.my-5#text-binder
    h2 text
    include:markdown-it(html) ../../../doc/reference/core/binders/text.md

  section.my-5#template-binder
    h2 template
    include:markdown-it(html) ../../../doc/reference/core/binders/template.md

  section.my-5#if-binder
    h2 if
    include:markdown-it(html) ../../../doc/reference/core/binders/if.md

  section.my-5#unless-binder
    h2 unless
    include:markdown-it(html) ../../../doc/reference/core/binders/unless.md

  section.my-5
    h2#on-event-binder on-[event]
    include:markdown-it(html) ../../../doc/reference/core/binders/on-[event].md

  section.my-5#srcset-size-binder
    h2 srcset-[size]
    include:markdown-it(html) ../../../doc/reference/core/binders/srcset-[size].md

  section.my-5#style-property-binder
    h2 style-property
    include:markdown-it(html) ../../../doc/reference/core/binders/style-[property].md
    
  section.my-5#value-binder
    h2 value
    include:markdown-it(html) ../../../doc/reference/core/binders/value.md
