<div class="row my-5">
  <section class="col-12 my-5">
    <h2>bs4-dropdown component</h2>
    <bs4-dropdown class="dropdown">
      <a rv-on-click="toggle" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
        Dropdown link
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
      </div>
    </bs4-dropdown>
    <bs4-dropdown class="dropup">
      <a rv-on-click="toggle" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropupMenuLink" aria-haspopup="true" aria-expanded="false">
        Dropdown link
      </a>
      <div class="dropdown-menu" aria-labelledby="dropupMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
      </div>
    </bs4-dropdown>
  </section>

  <section class="col-12 my-5">
    <h2>bs4-dropdown binder</h2>

      <div class="dropdown">
        <button class="btn btn-outline-dark text-truncate dropdown-toggle" rv-bs4-dropdown="">{ selected.label }</button>
        <div class="dropdown-menu scrollbar-y-scroll scrollbar-primary">
            <div rv-each-item="items">
                <div class="dropdown-item cursor-pointer" rv-on-click="select | args item"><span class="text-primary" rv-text="item.label"></span></div>
            </div>
        </div>
      </div>

  </section>
</div>