rv-example-tabs {
  display: block;
  overflow: hidden;
  > div {
    > .tab-content {
      max-height: 500px;
      overflow: auto;
      border-radius: 0 0 0.3em 0.3em;
      border: solid 1px $code-background-color;
      background-color: $code-background-color;
      @extend .scrollbar-primary-on-hover;
      > .tab-pane {
        background-color: $code-background-color;
        background-clip: border-box;
        color: $white;
        padding: 1em;
        &.tab-content-preview {
          background-color: white;
          color: $black;
        }
        > pre {
          padding: 0;
          overflow: visible;
        }
      }
    }
    > .nav-tabs {
      background-color: lighten($code-background-color, 5%);
      border-radius: 0.3em 0.3em 0 0;
      > .nav-link {
        cursor: pointer;
        user-select: none;
        background-color: lighten($code-background-color, 5%);
        color: $gray-500;
        border-radius: 0.3em 0.3em 0 0;
        border: none;
        &.active {
          background-color: $code-background-color;
          color: $white;
          font-weight: 400;
          border: none;
        }
        &:hover, &:focus {
          color: $white;
          border: none;
        }
      }
    }
  }
  &[handle="each-item"] {
    > .tab-content {
      height: 500px;
    }
  }
}
