
@import './vendors/bootstrap/bootstrap';
// @import './binders/index';
@import '../ts/components/index';
// @import './formatters/index';

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
