rv-component-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 15px;
  background-color: aquamarine;
}