<bs4-tabs
  option-tabs-angle="vertical"
  tab-0-title="Tab 0"
  tab-0-content="<p class='my-3'>Hello from <strong>tab 0</strong></p>"
  tab-1-title="Tab 1"
  tab-1-content="<p class='my-3'>Hello from <strong>tab 1</strong></p>"
  tab-2-title="Tab 2"
  tab-2-content="<p class='my-3'>Hello from <strong>tab 2</strong></p>"
  tab-3-title="Tab 3"
  tab-3-content="<p class='my-3'>Hello from <strong>tab 3</strong></p>"
  tab-4-title="Tab 4"
  tab-4-content="<p class='my-3'>Hello from <strong>tab 4</strong></p>"
  tab-5-title="Tab 5"
  tab-5-content="<p class='my-3'>Hello from <strong>tab 5</strong></p>"
  tab-6-title="Tab 6"
  tab-6-content="<p class='my-3'>Hello from <strong>tab 6</strong></p>"
  tab-7-title="Tab 7"
  tab-7-content="<p class='my-3'>Hello from <strong>tab 7</strong></p>"
  tab-8-title="Tab 8"
  tab-8-content="<p class='my-3'>Hello from <strong>tab 8</strong></p>"
  tab-9-title="Tab 9"
  tab-9-content="<p class='my-3'>Hello from <strong>tab 9</strong></p>"
></bs4-tabs>
