extends ../_extends/generated-page.pug

block content

  section.my-5#install
    h2 Install
    include:markdown-it(html) ../../../doc/guide/install.md

  section#file-structure
    h2 File Structure
    include ../../../doc/guide/file-structure

  section.my-5#usage
    h2 Usage
    section.my-4#templates
      h3 Templates
      include:markdown-it(html) ../../../doc/guide/usage/templates.md
    
    section.my-4#binding
      h3 Binding
      include:markdown-it(html) ../../../doc/guide/usage/binding.md
    
    section.my-4#configuring
      h3 Configuring
      include:markdown-it(html) ../../../doc/guide/usage/configuring.md

  section.my-5#binders
    h2 Binders
    include:markdown-it(html) ../../../doc/guide/binders.md
    
    section.my-4#one-way-binders
      h3 One-way Binders
      include:markdown-it(html) ../../../doc/guide/binders/one-way.md
    
    section.my-4#two-way-binders
      h3 Two-way Binders
      include:markdown-it(html) ../../../doc/guide/binders/two-way.md
    
    section.my-4#api
      h3 API
      section
        include:markdown-it(html) ../../../doc/guide/binders/api.md

  section.my-5#formatters
    h2 Formatters
    include:markdown-it(html) ../../../doc/guide/formatters.md
    
    section.my-4#one-way-formatters
      h3 One-way formatters
      include:markdown-it(html) ../../../doc/guide/formatters/one-way.md
    
    section.my-4#two-way-formatters
      h3 Two-way formatters
      include:markdown-it(html) ../../../doc/guide/formatters/two-way.md
    
    section.my-4#formatters-arguments
      h3 Formatter arguments
      include:markdown-it(html) ../../../doc/guide/formatters/arguments.md

  section.my-5#components
    h2 Components
    section
      include:markdown-it(html) ../../../doc/guide/components.md

    section.my-4#lifecycle-callbacks
      h3 Lifecycle callbacks
      section
        include:markdown-it(html) ../../../doc/guide/components/lifecycle-callbacks.md

  section.my-5#adapters
    h2 Adapters
    include:markdown-it(html) ../../../doc/guide/adapters.md
    
    section.my-4#the-built-in-adapter
      h3 The built-in adapter
      include:markdown-it(html) ../../../doc/guide/adapters/default.md
    
    section.my-4#creating-an-adapter
      h3 Creating an adapter
      include:markdown-it(html) ../../../doc/guide/adapters/creating.md

  section.my-5#iteration-binding
    h2 Iteration binding
    
    section.my-4#iterate
      h3 Iterate
      include:markdown-it(html) ../../../doc/guide/iteration/iteration.md
    
    section.my-4#iteration-index
      h3 Iteration index
      include:markdown-it(html) ../../../doc/guide/iteration/index.md
