extends ../_extends/generated-page.pug

block content
  section.my-5
    h2#task Gulp build-scss-and-yml task
    include:markdown-it(html) ../../../doc/reference/octobercms/build-scss-and-yml.md
    h2#plugin Gulp scssToOctoberYml plugin
    include:markdown-it(html) ../../../doc/reference/octobercms/scss-to-october-yml.md