<div class="container-fluid">
  <div class="row">
    <section class="col-12 mb-5">
      <bs4-slideshow control-prev-icon-src="arrow_carrot.svg" control-next-icon-src="arrow_carrot.svg">
        <div class="slideshow-inner">
          <div class="slide col-12 p-0">
            <img class="img-fluid w-100" src="https://picsum.photos/3000/500?random=1" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 p-0">
            <img class="img-fluid w-100" src="https://picsum.photos/3000/500?random=2" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 p-0">
            <img class="img-fluid w-100" src="https://picsum.photos/3000/500?random=3" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 p-0">
            <img class="img-fluid w-100" src="https://picsum.photos/3000/500?random=4" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 p-0">
            <img class="img-fluid w-100" src="https://picsum.photos/3000/500?random=5" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 p-0">
            <img class="img-fluid w-100" src="https://picsum.photos/3000/500?random=6" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 p-0">
            <img class="img-fluid w-100" src="https://picsum.photos/3000/500?random=7" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-12 p-0">
            <img class="img-fluid w-100" src="https://picsum.photos/3000/500?random=8" alt="Static Random Image from https://picsum.photos/">
          </div>
        </div>
      </bs4-slideshow>
    </section>
  </div>
</div>

<div class="container">
  <div class="row">
    <section class="col-12 my-5">
  
      <h2 class="text-center">Multiple Items</h2>
      <bs4-slideshow control-prev-icon-src="arrow_carrot.svg" control-next-icon-src="arrow_carrot.svg" slides-to-scroll="3">
        <div class="slideshow-inner">
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=1" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=2" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=3" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=4" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=5" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=6" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=7" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=8" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=9" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=10" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=11" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=12" alt="Static Random Image from https://picsum.photos/">
          </div>
        </div>
      </bs4-slideshow>
    </section>

    <section class="col-12 my-5">
      <h2 class="text-center">Variable Width</h2>
      <bs4-slideshow control-prev-icon-src="arrow_carrot.svg" control-next-icon-src="arrow_carrot.svg">
        <div class="slideshow-inner">
          <div class="slide col-3"></div>
          <div class="slide col-6 d-flex align-items-center">
            <img class="img-fluid w-100" src="https://picsum.photos/600/600?random=1" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4 d-flex align-items-center">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=2" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-2 d-flex align-items-center">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=3" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-6 d-flex align-items-center">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=4" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-3 d-flex align-items-center">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=5" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-8 d-flex align-items-center">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=6" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-5 d-flex align-items-center">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=7" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-3 d-flex align-items-center">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=8" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7"></div>
        </div>
      </bs4-slideshow>
    </section>

    <section class="col-12 my-5">
      <h2 class="text-center">Autoplay</h2>
      <bs4-slideshow autoplay="true" autoplay-velocity="0.05" control-prev-icon-src="arrow_carrot.svg" control-next-icon-src="arrow_carrot.svg">
        <div class="slideshow-inner">
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=1" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=2" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=3" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=4" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=5" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=6" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=7" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-4">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=8" alt="Static Random Image from https://picsum.photos/">
          </div>
        </div>
      </bs4-slideshow>
    </section>

    <section class="col-12 my-5">
      <h2 class="text-center">Center Mode</h2>
      <bs4-slideshow autoplay="true" autoplay-permanent="true" autoplay-velocity="0.2" control-prev-icon-src="arrow_carrot.svg" control-next-icon-src="arrow_carrot.svg" center-mode="true">
        <div class="slideshow-inner">
          <div class="slide col-7 p-2">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=1" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=2" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=3" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=4" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=5" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=6" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=7" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=8" alt="Static Random Image from https://picsum.photos/">
          </div>
        </div>
      </bs4-slideshow>
    </section>

    <section class="col-12 my-5">
      <h2 class="text-center">Center Mode (without autoplay)</h2>
      <bs4-slideshow control-prev-icon-src="arrow_carrot.svg" control-next-icon-src="arrow_carrot.svg" center-mode="true">
        <div class="slideshow-inner">
          <div class="slide col-7 p-2">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=1" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=2" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=3" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=4" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=5" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=6" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=7" alt="Static Random Image from https://picsum.photos/">
          </div>
          <div class="slide col-7 p-2">
            <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=8" alt="Static Random Image from https://picsum.photos/">
          </div>
        </div>
      </bs4-slideshow>
    </section>

    <section class="col-12 my-5">
      <h2 class="text-center">Templates</h2>
      <bs4-slideshow autoplay="true" autoplay-velocity="0.1" control-prev-icon-src="arrow_carrot.svg" control-next-icon-src="arrow_carrot.svg" center-mode="true">
        <template type="slide" class="slide col-7 p-2">
          <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=1" alt="Static Random Image from https://picsum.photos/">
        </template>
        <template type="slide" class="slide col-7 p-2">
          <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=2" alt="Static Random Image from https://picsum.photos/">
        </template>
        <template type="slide" class="slide col-7 p-2">
          <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=3" alt="Static Random Image from https://picsum.photos/">
        </template>
        <template type="slide" class="slide col-7 p-2">
          <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=4" alt="Static Random Image from https://picsum.photos/">
        </template>
        <template type="slide" class="slide col-7 p-2">
          <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=5" alt="Static Random Image from https://picsum.photos/">
        </template>
        <template type="slide" class="slide col-7 p-2">
          <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=6" alt="Static Random Image from https://picsum.photos/">
        </template>
        <template type="slide" class="slide col-7 p-2">
          <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=7" alt="Static Random Image from https://picsum.photos/">
        </template>
        <template type="slide" class="slide col-7 p-2">
          <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=8" alt="Static Random Image from https://picsum.photos/">
        </template>
      </bs4-slideshow>
    </section>
  </div>
</div>
