<h2>Single Item</h2>

<bs4-slideshow control-prev-icon-src="arrow_carrot.svg" control-next-icon-src="arrow_carrot.svg">
  <div class="slideshow-inner">
    <div class="col-12">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/200?random=1" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-12">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/200?random=2" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-12">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/200?random=3" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-12">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/200?random=4" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-12">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/200?random=5" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-12">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/200?random=6" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-12">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/200?random=7" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-12">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/200?random=8" alt="Static Random Image from https://picsum.photos/">
    </div>
  </div>
</bs4-slideshow>

<h2>Multiple Items</h2>

<bs4-slideshow control-prev-icon-src="arrow_carrot.svg" control-next-icon-src="arrow_carrot.svg">
  <div class="slideshow-inner">
    <div class="col-4">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=1" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-4">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=2" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-4">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=3" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-4">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=4" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-4">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=5" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-4">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=6" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-4">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=7" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-4">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=8" alt="Static Random Image from https://picsum.photos/">
    </div>
  </div>
</bs4-slideshow>

<h2>Variable Width</h2>

<bs4-slideshow control-prev-icon-src="arrow_carrot.svg" control-next-icon-src="arrow_carrot.svg">
  <div class="slideshow-inner">
    <div class="col-auto">
      <img class="img-fluid w-100" src="https://picsum.photos/600/600?random=1" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-4">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=2" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-2">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=3" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-6">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=4" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-3">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=5" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-8">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=6" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-5">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=7" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-3">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=8" alt="Static Random Image from https://picsum.photos/">
    </div>
  </div>
</bs4-slideshow>


<h2>Autoscroll</h2>

<bs4-slideshow autoscroll="true" autoscroll-velocity="0.1" control-prev-icon-src="arrow_carrot.svg" control-next-icon-src="arrow_carrot.svg">
  <div class="slideshow-inner">
    <div class="col-4">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=1" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-4">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=2" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-4">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=3" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-4">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=4" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-4">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=5" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-4">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=6" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-4">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=7" alt="Static Random Image from https://picsum.photos/">
    </div>
    <div class="col-4">
      <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=8" alt="Static Random Image from https://picsum.photos/">
    </div>
  </div>
</bs4-slideshow>



<h2>Templates</h2>

<bs4-slideshow autoscroll="true" autoscroll-velocity="0.1" control-prev-icon-src="arrow_carrot.svg" control-next-icon-src="arrow_carrot.svg">
  <template type="slide" class="col-4">
    <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=1" alt="Static Random Image from https://picsum.photos/">
  </template>
  <template type="slide" class="col-4">
    <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=2" alt="Static Random Image from https://picsum.photos/">
  </template>
  <template type="slide" class="col-4">
    <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=3" alt="Static Random Image from https://picsum.photos/">
  </template>
  <template type="slide" class="col-4">
    <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=4" alt="Static Random Image from https://picsum.photos/">
  </template>
  <template type="slide" class="col-4">
    <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=5" alt="Static Random Image from https://picsum.photos/">
  </template>
  <template type="slide" class="col-4">
    <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=6" alt="Static Random Image from https://picsum.photos/">
  </template>
  <template type="slide" class="col-4">
    <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=7" alt="Static Random Image from https://picsum.photos/">
  </template>
  <template type="slide" class="col-4">
    <img class="img-fluid w-100" src="https://picsum.photos/1500/600?random=8" alt="Static Random Image from https://picsum.photos/">
  </template>

</bs4-slideshow>
