ul
  li(rv-each-layout="layouts", rv-text="layout", rv-on-click="setLayout | args layout")
a11y-keyboard-keys(rv-co-layout-name="activeLayout")
footer
  | The keyboard is based on the demo from 
  a(href='https://github.com/hodgef/simple-keyboard') Francisco Hodge's simple-keyboard
  | .
